{% extends "base.html" %}

{% block body_block %}
<main class="container mt-header">
	<article>
		<h1 class="text-center fw-bold SelfStorage_green mb-5">Аренда боксов</h1>
		<h6 class="text-center SelfStorage_grey">Арендуйте склад индивидуального хранения по уникальной цене прямо сейчас</h6>
		<a href="#BOX" id="toBox" class="d-none"></a>
		<ul class="nav nav-pills mb-3 d-flex justify-content-between" id="boxes-links" role="tablist">
			{% for storage in storages %}
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<a href="#BOX" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink" id="pills-{{ storage.id }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ storage.id }}" role="tab" aria-controls="pills-{{ storage.id }}" aria-selected="true">
					<div class="col-12 col-lg-3 d-flex justify-content-center">
						<img src="{{ storage.picture.url }}" alt="" class="mb-3 mb-lg-0">
					</div>
					<div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
						<h4 class="text-center">{{ storage.name }}</h4>
						<h6 class="text-center">{{ storage.address }}</h6>
					</div>
					<div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
						<h4 class="text-center">14  из 390</h4>
						<h6 class="text-center">Боксов свободно</h6>
					</div>
					<div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
						<h4 class="text-center SelfStorage_green">от 3034 ₽</h4>
						<h6 class="text-center">Рядом с метро</h6>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
		<script>
			{% for storage in storages %}
				document.getElementById('pills-{{ storage.id }}-tab').addEventListener('click', () => {
					document.getElementById('toBox').click()
				})
			{% endfor %}
		</script>
	</article>
	<article class="pt-header" id="BOX">
		<div class="tab-content" id="boxes-content">
			{% for storage in storages %}
				<div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="pills-{{ storage.id }}" role="tabpanel" aria-labelledby="pills-{{ storage.id }}-tab">
					<h1 class="text-center mb-4 fw-bold">{{ storage.name }}, {{ storage.address }}</h1>
					<div class="row d-flex flex-column mb-5">
						<div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
							<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">
								Контакты
							</a>
							<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">
								Описание
							</a>
							<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">
								Проезд
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-6">
							<div id="carouselExampleControls{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<div class="d-flex flex-column">
											<img src="{{ storage.big_picture.url }}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="row">
								<p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
								<div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
									<span class="fs_30 fw-bold SelfStorage_orange">17 °С</span>
									<span class="SelfStorage_grey mb-3">Температура на складе</span>
									<span class="fs_30 fw-bold SelfStorage_orange">14  из 390</span>
									<span class="SelfStorage_grey mb-3">Боксов свободно</span>
								</div>
								<div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
									<span class="fs_30 fw-bold SelfStorage_orange">до 3.5 м</span>
									<span class="SelfStorage_grey mb-3">Высота потолка</span>
									<span class="fs_30 fw-bold SelfStorage_orange">от 3034 ₽</span>
									<span class="SelfStorage_grey mb-3">Оплата за месяц</span>
								</div>
								<div class="d-flex flex-column align-items-center align-items-lg-start">
									<a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
									<button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
								</div>
								<a href="{% url 'storage:view_faq' %}" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<ul class="nav nav-pills pt-header d-flex justify-content-between" id="pills-tab" role="tablist">
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<button class="btn my-2 w-100 fs_24 SelfStorage__tab active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true" data-area="all">Все боксы</button>
			</li>
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to3-tab" data-bs-toggle="pill" data-bs-target="#pills-to3" type="button" role="tab" aria-controls="pills-to3" aria-selected="false" data-area="1">До 5 м²</button>
			</li>
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to10-tab" data-bs-toggle="pill" data-bs-target="#pills-to10" type="button" role="tab" aria-controls="pills-to10" aria-selected="false" data-area="2">До 10 м²</button>
			</li>
			<li class="nav-item flex-grow-1 mx-2" role="presentation">
				<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-from10-tab" data-bs-toggle="pill" data-bs-target="#pills-from10" type="button" role="tab" aria-controls="pills-from10" aria-selected="false" data-area="3">От 10 м²</button>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-home-tab">

				{% for box in boxes %}
				<div class="tab-pane box-item" role="tabpanel" aria-labelledby="pills-profile-tab" data-area="{{ box.get_box_size }}" data-storage="#pills-{{ box.storage.id}}">
				<!--{% with box_id=box.id %}-->
				<a href="{% url 'storage:create_order' %}?box={{ box.id }}&rental_period=3" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink">
				<!--{% endwith %}-->
					
					<div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
						<span class="SelfStorage_green fs_24 me-2">{{ box.floor }} эт.</span><span class="fs_24">№{{ box.number }}</span>
					</div>
					<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
						<span class="fs_24">{{ box.get_box_area }} м²</span>
					</div>
					<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
						<span class="fs_24">{{ box.width|floatformat:"0" }} х {{ box.length|floatformat:"0" }} х {{ box.height }} м²</span>
					</div>
					<div class="col-12 col-lg-3">
						<span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">От {{ box.monthly_price|floatformat:"0" }} ₽</span>
					</div>
				</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</article>
</main>
<script>
$(document).ready(function(){
	$('.SelfStorage__tab').on('click', function(){
	  const cards = document.querySelectorAll('.box-item');
	  for(card of cards){

	    const cardArea = card.getAttribute('data-area');
	    const filterArea = this.getAttribute('data-area');
	    if(cardArea ===  filterArea || filterArea === 'all'){
				card.style.display = 'block';
	    } else{
	      card.style.display = 'none';
	    }
	  }
	});
	$('#boxes-links .SelfStorage__boxlink').on('click', function(){
	  const cards = document.querySelectorAll('.box-item');
	  for(card of cards){

	    const cardArea = card.getAttribute('data-storage');
	    const filterArea = this.getAttribute('data-bs-target');
	    if(cardArea ===  filterArea){
				card.style.display = 'block';
	    } else{
	      card.style.display = 'none';
	    }
	  }
	});
});
</script>
{% endblock %}
