{% extends "base.html" %}
{% load static %}
{% block body_block %}
<main class="container mt-header">
	<div class="row" role="tablist">
		<div class="col-lg-3 d-flex flex-column nav nav-pills">
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_orange SelfStorage_tab active" id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab" aria-controls="LK" aria-selected="true">Личный кабинет</button>
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab" data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent" aria-selected="false">Моя аренда</button>
			<a href="{% url 'storage:view_faq' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">FAQ</a>
			<a href="{% url 'storage:logout' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Выйти</a>
		</div>
		<div class="col-lg-9">
			<div class="card tab-content p-5">
				<div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">
					<form action="{% url 'storage:view_my_rent' %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<div class="col-12 col-sm-5 d-flex flex-column">
								{% if user.avatar %}
								<img src="{{ user.avatar }}" class="rounded-pill mb-3" alt="">
								{% else %}
								<img src="{% static 'img/user.png'%}" class="rounded-pill mb-3" alt="">
								{% endif %}
								<input type="file" name="AVATAR_EDIT" id="AVATAR" class="form-control fs_24 ps-2 SelfStorage__input" value="" hidden>
							</div>
							<div class="col-12 col-sm-7 d-flex flex-column">
								<label class="fs_24 SelfStorage_green ms-2" for="NAME">Ваше имя</label>
								<input type="name" name="NAME_EDIT" id="NAME" class="form-control fs_24 ps-2 SelfStorage__input" value="{{ user.first_name }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="EMAIL">E-mail</label>
								<input type="email" name="EMAIL_EDIT" id="EMAIL" class="form-control fs_24 ps-2 SelfStorage__input" value="{{ user.email }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PHONE">Телефон</label>
								<input type="tel" name="PHONE_EDIT" id="PHONE" class="form-control fs_24 ps-2 SelfStorage__input" value="{{user.phone_number}}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PASSWORD">Пароль</label>
								<input type="password" name="PASSWORD_EDIT" id="PASSWORD" class="form-control fs_24 ps-2 SelfStorage__input" value="********" disabled>
								<button type="submit" class="btn SelfStorage_green ps-1" id="save" style="display: none">Сохранить</button>
								<a class="btn SelfStorage_orange ps-1" id="edit">Редактировать</a>
								<script>
									document.getElementById('edit').addEventListener('click', e => {
										e.preventDefault()
										document.getElementById('AVATAR').hidden = false
										document.getElementById('NAME').disabled = false
										document.getElementById('EMAIL').disabled = false
										document.getElementById('PHONE').disabled = false
										document.getElementById('PASSWORD').disabled = false
										document.getElementById('PASSWORD').type = 'text'
										document.getElementById('edit').style.display = 'none'
										document.getElementById('save').style.display = 'inline-block'
									})
									document.getElementById('save').addEventListener('click', () => {
										setTimeout(() => {
											document.getElementById('AVATAR').disabled = true
											document.getElementById('NAME').disabled = true
											document.getElementById('EMAIL').disabled = true
											document.getElementById('PHONE').disabled = true
											document.getElementById('PASSWORD').disabled = true
											document.getElementById('PASSWORD').type = 'password'
											document.getElementById('edit').style.display = 'inline-block'
											document.getElementById('save').style.display = 'none'
										}, 0)
									})
								</script>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
					<h1 class="fw-bold SelfStorage_green mb-5">Добрый день, Екатерина!</h1>
					<a href="#" class="SelfStorage_orange">История аренды</a>
					 {% for order in orders %}
						<div class="mb-5">
						  <h4 class="SelfStorage_green">{{order.box.storage.name}}</h4>
						  <h4>{{order.box.storage.address}}</h4>
						  <h4 class="SelfStorage_green">Мой бокс</h4>
						  <h4>{{order.box.number}}</h4>
						  <h4 class="SelfStorage_green">Срок аренды</h4>
						  <h4>{{order.created_at|date:"d.m.Y"}} - {{order.pickup_deadline|date:"d.m.Y"}}</h4>
						  <div><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Продлить аренду</button></div>
						  <div><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Открыть бокс</button></div>
						  <a href="#" class="SelfStorage_orange">Нужна помощь?</a>
						</div>
					 {% endfor %}

				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
